body{
    background-color: navy;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 65px;
}
table, th, td {
    border: 40px solid navy;
  }
td{
    height: 150;
    width: 150;
    text-align: center;
}
img{
    border-radius: 50%;
    float: left;
    width: 180px;
    height: 180px;
    background-size: cover;
}
h3{
    color: white;
}